.vs/
/01.WebApiSAPP/bin/Debug/net8.0/
/01.WebApiSAPP/bin/Debug/net8.0/BusinessLogicSAPP.pdb
/01.WebApiSAPP/bin/Debug/net8.0/DataAccessSAPP.dll
/01.WebApiSAPP/bin/Debug/net8.0/DataAccessSAPP.pdb
/01.WebApiSAPP/obj/WebApplicationSAPP.csproj.nuget.dgspec.json
/BusinessLogicSAPP/bin/Debug/net8.0/BusinessLogicSAPP.dll
/01.WebApiSAPP/obj/Release/net8.0/WebApiSAPP.csproj.AssemblyReference.cache
/01.WebApiSAPP/obj/Release/net8.0/WebApiSAPP.AssemblyInfoInputs.cache
/01.WebApiSAPP/obj/Release/net8.0/WebApiSAPP.assets.cache
/01.WebApiSAPP/obj/Debug/net8.0/WebApplicationSAPP.GlobalUsings.g.cs
/01.WebApiSAPP/bin/Debug/net8.0/WebApiSAPP.dll
/01.WebApiSAPP/bin/Debug/net8.0/WebApiSAPP.pdb
/01.WebApiSAPP/bin/Debug/net8.0/WebApiSAPP.exe
/01.WebApiSAPP/obj/Debug/net8.0/apphost.exe
/01.WebApiSAPP/obj/Debug/net8.0/ref/WebApiSAPP.dll
/01.WebApiSAPP/obj/Debug/net8.0/refint/WebApiSAPP.dll
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.AssemblyInfo.cs
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.AssemblyInfoInputs.cache
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.csproj.AssemblyReference.cache
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.csproj.FileListAbsolute.txt
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.dll
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.pdb
/01.WebApiSAPP/obj/Debug/net8.0/WebApiSAPP.sourcelink.json
/01.WebApiSAPP/obj/Release/net8.0/WebApiSAPP.AssemblyInfo.cs
/BusinessLogicSAPP/bin/Debug/net8.0/BusinessLogicSAPP.pdb
/BusinessLogicSAPP/bin/Debug/net8.0/DataAccessSAPP.dll
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.AssemblyInfoInputs.cache
/DataAccessSAPP/obj/Debug/net8.0/refint/DataAccessSAPP.dll
/DataAccessSAPP/obj/Debug/net8.0/DataAccessSAPP.sourcelink.json
/DataAccessSAPP/obj/Debug/net8.0/ref/DataAccessSAPP.dll
/DataAccessSAPP/obj/Debug/net8.0/DataAccessSAPP.pdb
/DataAccessSAPP/obj/Debug/net8.0/DataAccessSAPP.dll
/DataAccessSAPP/obj/Debug/net8.0/DataAccessSAPP.AssemblyInfoInputs.cache
/DataAccessSAPP/obj/Debug/net8.0/DataAccessSAPP.AssemblyInfo.cs
/BusinessLogicSAPP/obj/Debug/net8.0/ref/BusinessLogicSAPP.dll
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.dll
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.pdb
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.sourcelink.json
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.AssemblyInfo.cs
/DataAccessSAPP/bin/Debug/net8.0/DataAccessSAPP.dll
/DataAccessSAPP/bin/Debug/net8.0/DataAccessSAPP.pdb
/BusinessLogicSAPP/obj/Debug/net8.0/refint/BusinessLogicSAPP.dll
/BusinessLogicSAPP/obj/Debug/net8.0/BusinessLogicSAPP.csproj.AssemblyReference.cache
/BusinessLogicSAPP/bin/Debug/net8.0/DataAccessSAPP.pdb
BusinessLogicSAPP/obj/Release/
DataAccessSAPP/obj/Release/

